@font-face {
  font-family: Proxima Nova Regular;
  src: url("../fonts/HKGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: Proxima Nova Regular;
  src: url("../fonts/HKGrotesk-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: Proxima Nova Regular;
  src: url("../fonts/HKGrotesk-Bold.otf") format("opentype");
}
