.service {
  padding: 20px;
  font-family: "HK Grotesk";
  font-style: normal;
  width: 19%;
  background: #f4f4f4;
  height: max-content;
  cursor: pointer;
  transition: all linear 300ms;
  &-logo {
    margin-bottom: 16px;
  }
  &-price {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #a575ae;
    margin-bottom: 16px;
  }
  &-type {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #a575ae;
    margin-bottom: 8px;
  }
  &-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  &-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: #3f3e46;
  }
  &-cashback {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #a575ae;
  }
  &-cashback-text {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 32px;
  }
  &-container-btn {
    margin: 0 auto;
    text-align: center;
    &__btn {
      width: 100%;
      background: #a575ae;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 8px 0;
      border: none;
      cursor: pointer;
    }
  }

  &:hover {
    background-color: #5a3661;
  }
}
